<body background="/home/user/Downloads/p.jpg">


<b><i><u><center><font size="500"><font color="green"> details </font></font></center></u></i></b>

<h1>Users</h1>


        <td><%= @user.name %></td>
        <td><%= @user.course %></td>
        <td><%= @user.email %></td>

<br>
