<b><i><u><center><font size="800"><font color="green"> listing </font></font></center></u></i></b>

<img src="p.jpg">

<h1><font color="red">Users</font></h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>course</th>
      <th>email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name, details_path(user.id)%></td>

        <td><%= user.course %></td>
        <td><%= user.email %></td>
        <td><%= user.id %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>
